@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

html{
  font-family: Montserrat
}

body{
    color: rgba(0, 0, 0, 0.5) !important;
}


.footer-logo{
  width: 100%
}

.ftco-footer-widget{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


img.siw-loguitos {
    width: 100%;
}

.logo-siw{
  /* filter: invert(100); */
  width: 50%;
}
/* .navbar .logo-siw{
  display: none;
} */
.logo-siw{
  display: block !important;
  width: auto;
}

.back-right{
  background-size: 60%;
  background-position: 100%;
}
.back-left{
  background-size: 50%;
  background-position: 0%;
}

.sdg-image{
  width: 100%;
  border-radius: 3px;
      /* margin-bottom: -40px; */
  transition: all ease 0.5s;
}
.sdg-image:hover{
  padding: 2px;
}

.bullet-div{
  column-count: 3;
}
.bullet-div > ul, .bullet-div > div{
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;
}


.alf {
  clip-path: url(#myClip);
  position: absolute;
    left: 10px;
}
.fixed-height{
  display: block;
  height: 400px;
}

.sdgs-container span{
  display: none;
}

.sdg-1 > span.sdg-1, .sdg-2 > span.sdg-2, .sdg-3 > span.sdg-3, .sdg-4 > span.sdg-4, .sdg-5 > span.sdg-5, .sdg-6 > span.sdg-6, .sdg-7 > span.sdg-7, .sdg-8 > span.sdg-8, .sdg-9 > span.sdg-9, .sdg-10 > span.sdg-10, .sdg-11 > span.sdg-11, .sdg-12 > span.sdg-12, .sdg-13 > span.sdg-13, .sdg-14 > span.sdg-14, .sdg-15 > span.sdg-15, .sdg-16 > span.sdg-16, .sdg-17 > span.sdg-17 {
    display: inline;
}



figure img{
  max-width: 100%;
}
.back-project{
  background-position: 0% 170px;
}
.location{
  display: inline !important;
}
.locations{
  text-align: center;
}


.bg-svg{
  position: absolute;
  opacity: .3;
  filter: drop-shadow(0 0 5px #0003);
}
.bg-center{
  width: 80%;
  left: 10%
}
.bg-left{
  width: 80%;
 right: 18%;
}

.gMap{
  width: 100%;
  margin-bottom: -10px;
}
.gMap html{
  margin-top: -60px
}
.hero-wrap .overlay {
    opacity: 0;
}
.hero-wrap{
  /* z-index: 1 */
}
.z-back{
  /* z-index: -10 */
  opacity: .75
}

/* section{
  z-index: -10
} */

/* The "show" class is added to the filtered elements */
.myProject{
  display: none !important;
}
.show {
  display: block !important;
}

.locations span {
    white-space: nowrap;
}

.ftco-navbar-light {
    background: none !important;
}

svg:not(:root) {
    overflow: initial !important;
}

@media (max-width: 576px) {
.hero-wrap{
  background-position-y: 20%;
  background-size: 100%;
}
.bg-svg{
  top: auto !important;
    bottom: 0 !important;
    z-index: -1;
    padding: 20px !important;
    display: none;
}
.logo-siw{
    margin: auto;
    padding: 0;
    width: 50%;
}
.gMap{
  height: 300px;
}
section.ftco-section.ftco-intro.back-left {
    background-position-y: 10px;
    padding-top: 400px;
    background-size: 100%;
}
nav#ftco-navbar.scrolled{
  display: inline-block;
}
nav#ftco-navbar{
  display: none;
}
.coach{
    /* height: 35vw; */
}
.align-content-center.d-flex.flex-column.h-100.justify-content-center.text.text-center {
    justify-content: flex-start !important;
}
*{
  /* overflow-x: hidden; */
}
.bullet-div{
  column-count: 2;
}
.padding{
  padding: 0 10px;
}

.scrolled .logo-siw{
  display: block !important;
  /* filter: invert(100); */
  width: auto;
}

}
