@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

html{
  font-family: Montserrat
}


.footer-logo{
  width: 100%
}

.ftco-footer-widget{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


img.siw-loguitos {
    width: 100%;
}

.logo-siw{
  /* filter: invert(100); */
}
.navbar .logo-siw{
  display: none;
}
.scrolled .logo-siw{
  display: block !important;
  filter: invert(100);
}

.back-right{
  background-size: 60%;
  background-position: 100%;
}
.back-left{
  background-size: 50%;
  background-position: 0%;
}

.sdg-image{
  width: 100%;
  border-radius: 3px;
      /* margin-bottom: -40px; */
}

.bullet-div{
  column-count: 3;
}
.bullet-div > ul{
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;
}

.alf {
  clip-path: url(#myClip);
  position: absolute;
    left: 10px;
}
.fixed-height{
  display: block;
  height: 400px;
}

.sdgs-container p{
  display: none;
}

.sdg-1 > p.sdg-1, .sdg-2 > p.sdg-2, .sdg-3 > p.sdg-3, .sdg-4 > p.sdg-4, .sdg-5 > p.sdg-5, .sdg-6 > p.sdg-6, .sdg-7 > p.sdg-7, .sdg-8 > p.sdg-8, .sdg-9 > p.sdg-9, .sdg-10 > p.sdg-10, .sdg-11 > p.sdg-11, .sdg-12 > p.sdg-12, .sdg-13 > p.sdg-13, .sdg-14 > p.sdg-14, .sdg-15 > p.sdg-15, .sdg-16 > p.sdg-16, .sdg-17 > p.sdg-17 {
    display: block;
}

.bg-svg{
  position: absolute;
    opacity: .3;
    margin: -4em 4em;
}
