@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.ttf');
  }
  @font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothicBold.ttf');
    font-weight: bold;
  }

html,
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 20px;
    background-color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    line-height: normal !important;
    color: #787878;
    font-family: 'Century Gothic', sans-serif !important;
}

p {
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1rem;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}
a,a:hover,a:active{
    text-decoration: none !important;
    color:#fff !important;
}
h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}
small,
.text_small {
    font-size: 0.7em;
}
.container800{
    max-width:800px;
    margin:0 auto;
}
.mt-md-6{
    margin-top:5rem;
}
.px-md-10 {
    padding: 0 10rem;
}
.px-md-8{
    padding: 0 8rem;
}
.mt-md-8{
    margin-top: 8rem;
}
.my-md-10 {
    margin: 10rem 0;
}
.mx-md-10 {
    margin: 0 10rem;
}
.mx-md-8 {
    margin: 0 8rem;
}
.mx-md-6{
    margin: 0 6rem;
}
.my-md-8{
    margin: 8rem 0;
}
.mb-md-6{
    margin-bottom: 6rem;
}
.pb-md-8{
    padding-bottom:8rem;
}
.mb-md-9{
    margin-bottom: 9rem;
}
.p-sm-p10 {
    padding: .10rem!important;
}
.mar-left-350{
    margin-left: calc(20px + (350 - 20) * ((100vw - 320px) / (3660 - 320)));
}
img{
    max-width: 100%;
}
input,textarea,select{
    border-radius:150px;
    border:none;
    padding:10px 20px;
    margin:10px !important;
    font-size:20px;
    outline:none;
}
label{
    margin-left:20px;
    margin-right:20px;
    margin-top: 1.5rem;
    margin-bottom: 0 !important;
}

textarea{
    padding: 20px 100px !important;
    border-radius: 200px;
    resize: none !important;
}
.container-fluid,.container{
    padding:0 !important;
}
.grey-color{
    color: #787878;
}
.color-green{
    color:#138c6e;
}
.color-blue{
    color:#4070fe;
}
.pattern{
    background-image: url('./background-pattern-colored-b.png');
    background-size: cover;
    background-position: center;
}
.pattern-b{
    background-image: url('./background-pattern-colored-c.png');
    background-size: cover;
    background-position: center;
}
.top-100-img{
    margin-top: -10%;
    margin-top: calc(-8% + 5px);
    width: calc(70px + (150 - 70) * ((100vw - 300px) / (2600 - 320)));
}
.top-100-text {
    margin-top: -10%;
    margin-top: calc(-13% + 30px);
    font-size: calc(30px + (46 - 30) * ((100vw - 300px) / (1600 - 300)));
}
 .header{
    -webkit-clip-path: ellipse(55% 100% at 50% 0%);
    clip-path: ellipse(55% 100% at 50% 0%);
    position:relative;
    -webkit-filter: saturate(2);
            filter: saturate(2);
}
.header:before{
    content:'';
    left:0;
    right:0;
    bottom:0;
    top:0;
    background-image: url('./header-pattern.jpg');
    background-position:bottom;
    background-size:cover;
    opacity: 0.6;
    position: absolute;
    -webkit-filter: contrast(1.6);
            filter: contrast(1.6);
    width: 100%;
}
.header-logo{
    max-width: calc(150px + (600 - 150) * ((100vw - 300px) / (2600 - 320)));
    margin: calc(20px + (100 - 20) * ((100vw - 300px) / (2600 - 320)));
    z-index:1;
}
.footer{
    background-image: url('./circle-bottom-c.png');
    background-position: top;
    background-size: cover;
    padding-top:80px;
}
.purple-gradient{
    opacity: 1;
    position: relative;
    background-image: linear-gradient(#b676ba, #9711a5);
}
.logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: calc(140px + (600 - 140) * ((100vw - 300px) / (2600 - 320)));
}
.side-spacing-80{
    padding-left: calc(50px + (200 - 50) * ((100vw - 300px) / (2560 - 320)));
    padding-right: calc(50px + (200 - 50) * ((100vw - 300px) / (2560 - 320)));
}
.line-purple{
    border-top:3px solid #853e8e;
}
.line-orange{
    border-top:3px solid #e07711;
}
.marTB40{
    margin-top:2%;
    margin-bottom:2%;
}
.line1,.line2,.line3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.line3{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    max-width: 100px;
    margin-top:2%;
}
.line2{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 50px;
    margin-top:2%;
}
.line1{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    max-width: 3px;
    margin-top:2%;
}
.btn-img-purple{
            min-width: 200px;
            min-height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color:#fff;
            -webkit-box-pack:center;
                -ms-flex-pack:center;
                    justify-content:center;
            -webkit-box-align:center;
                -ms-flex-align:center;
                    align-items:center;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#e4d0d0), to(#41076d));
            background-image: -webkit-linear-gradient(#e4d0d0, #41076d);
            background-image: -o-linear-gradient(#e4d0d0, #41076d);
            background-image: linear-gradient(#e4d0d0, #41076d);
            position: relative;
            border-radius: 45px;
            -webkit-filter: saturate(3);
                    filter: saturate(3);
            -webkit-box-sizing: content-box;
                    box-sizing: content-box;
}

.btn-img-blue{
    min-width: 200px;
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3474b9), to(#0d3dcb));
    background-image: -webkit-linear-gradient(#3474b9, #0d3dcb);
    background-image: -o-linear-gradient(#3474b9, #0d3dcb);
    background-image: linear-gradient(#3474b9, #0d3dcb);
    position: relative;
    border-radius: 40px;
    -webkit-filter: saturate(3);
            filter: saturate(3);
}
.btn-img-green {
    min-width: 200px;
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b0ede0), to(#015c48));
    background-image: -webkit-linear-gradient(#b0ede0, #015c48);
    background-image: -o-linear-gradient(#b0ede0, #015c48);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#44bfa7), to(#015c48));
    background-image: -webkit-linear-gradient(#44bfa7, #015c48);
    background-image: -o-linear-gradient(#44bfa7, #015c48);
    background-image: linear-gradient(#44bfa7, #015c48);
    position: relative;
    border-radius: 40px;
    -webkit-filter: saturate(3);
            filter: saturate(3);
}
.btn-img-gray{
    min-width: 200px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color:#fff;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#5a5a5a), to(#4a4848));
            background-image: -webkit-linear-gradient(#5a5a5a, #4a4848);
            background-image: -o-linear-gradient(#5a5a5a, #4a4848);
            background-image: linear-gradient(#5a5a5a, #4a4848);
    position: relative;
    border-radius:25px;
    -webkit-filter: contrast(1.5);
            filter: contrast(1.5);
}
.btn-img1:before{border-radius:20px;content:'';width:200px;height:50px;position: absolute;background-image: url('./sm-btn.png');background-repeat: no-repeat;opacity: 0.4;-webkit-filter: contrast(2);filter: contrast(2);}
.btn-img2:before{border-radius:20px;content:'';width:200px;height:50px;position: absolute;background-image: url('./sm-btn-2.png');background-repeat: no-repeat;opacity: 0.4;-webkit-filter: contrast(2);filter: contrast(2);}
.btn-img3:before{border-radius:20px;content:'';width:200px;height:50px;position: absolute;background-image: url('./sm-btn-3.png');background-repeat: no-repeat;opacity: 0.4;-webkit-filter: contrast(2);filter: contrast(2);}
.btn-img1 p{z-index:1;margin:0 !important;padding:0 10px !important;}
.btn-img2 p{z-index:1;margin:0 !important;padding:0 10px !important;}
.btn-img3 p{z-index:1;margin:0 !important;padding:0 10px !important;}
.btn-img-blue p{
    z-index:1;
    margin:0 !important;
    padding:0 10px !important;
}
.btn-img-green p{
    z-index:1;
    margin:0 !important;
    padding:0 10px !important;
}
.green-btn {
    background-color: #16b48d;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    border-radius: 50px;
    padding: 12px 30px 15px;
    color: #ffffff;
}
.green-btn:active,.green-btn:hover{color:#fff;}
.green-btn:hover,.green-btn:active{
    text-decoration:none;
}
.btn-border{
    border:20px solid #ffffff;
}
.btn-img:hover,.btn-img:active{
    color:#ffffff;
    text-decoration: none;
}
.pos-relative{
    position:relative;
}
.bottom-5{
    bottom:-5px;
}
.bottom-100{
    bottom: -100px;
}
.top-5{
    top:-5px;
}
.purple-buttons{
    z-index: 0;
}
.purple-buttons:before {
    width: 100%;
    background-color: #853e8e;
    height: 3px;
    content: '';
    position: absolute;
    top: 50%;
    z-index: -1;
}
.project-img{
    border:5px solid #ffffff;
    border-radius:30px;
}
.pattern-btn1:before{border-radius:40px;content:'';width:100%;height:100%;position: absolute;background-image: url('./sm-btn.png');background-repeat: no-repeat;background-size:cover;opacity: 0.4;-webkit-filter: contrast(2);filter: contrast(2);}
.pattern-btn2:before{border-radius:40px;content:'';width:100%;height:100%;position: absolute;background-image: url('./sm-btn-2.png');background-repeat: no-repeat;background-size:cover;opacity: 0.4;-webkit-filter: contrast(2);filter: contrast(2);}
.pattern-btn3:before{border-radius:40px;content:'';width:100%;height:100%;position: absolute;background-image: url('./sm-btn-3.png');background-repeat: no-repeat;background-size:cover;opacity: 0.4;-webkit-filter: contrast(2);filter: contrast(2);}
.pattern-btn1 p{z-index:1;margin:0 !important;padding:0 10px !important;}
.pattern-btn2 p{z-index:1;margin:0 !important;padding:0 10px !important;}
.pattern-btn3 p{z-index:1;margin:0 !important;padding:0 10px !important;}
.gradient-bg{
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color:#fff;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5494ff), to(#0040ff));
    background-image: -webkit-linear-gradient(#5494ff, #0040ff);
    background-image: -o-linear-gradient(#5494ff, #0040ff);
    background-image: linear-gradient(#5494ff, #0040ff);
    position: relative;
    border-radius: 80px;
    -webkit-filter: contrast(2);
            filter: contrast(2);
}
.box1:before{content:'';width:100%;height:100%;position: absolute;background-image: url('./button1-b.png');opacity: 0.5;border-radius:80px;}
.box2:before{content:'';width:100%;height:100%;position: absolute;background-image: url('./button2-b.png');opacity: 0.5;border-radius:80px;}
.box3:before{content:'';width:100%;height:100%;position: absolute;background-image: url('./button3-b.png');opacity: 0.5;border-radius:80px;}
.gradient-bg p{
    z-index: 1;
}
.user-select-none {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */     
    pointer-events: none; 
  }
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e07711' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e07711' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}
.carousel-indicators{
    bottom: -30px !important;
}
.carousel-indicators li{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    background-color: #4070fe !important;
}
@media only screen and (max-width: 850px) {
    .purple-buttons:before {
        display:none;
    }
}

@media only screen and (max-width: 750px){
.bottom-100{
    bottom:-50px;
}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .px-md-10,.px-md-2,.px-md-8{
        padding: 0 .5rem;
    }
    .mx-sm-1{
        margin-left:0.5rem !important;
        margin-right:0.5rem !important;
    }
    .my-sm-3{
        margin-top:2rem !important;
        margin-bottom:2rem !important;
    }
    .mt-md-8{
        margin-top:2rem;
    }
    .my-md-10,.my-md-8,.my-md-5{
        margin: 2rem 0;
    }
    .mx-md-8,.mx-md-10,.mx-md-6{
        margin: 0 1rem;
    }
    .mb-md-6,.mb-md-4,.mb-md-3{
        margin-bottom: 2rem;
    }
    .pb-md-8,.pb-md-4{
        padding-bottom:2rem;
    }
    .wrapon600{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .centeron600{
        text-align: center;
    }
    .pb-sm-2{
        padding-bottom:2rem;
    }
    .mb-sm-3{
        margin-bottom:3rem;
    }
    .mb-sm-2{
        margin-bottom: 1.5rem;
    }
    .px-md-1{
        padding:0 1rem;
    }
    .py-sm-1{
        padding:1rem 0;
    }
    input,label,select,textarea{
        margin:.5rem !important;
    }
    .p-sm-1{
        padding:1rem;
    }
    .m-sm-1{
        margin:.5rem 1rem;
    }
    .pr-sm-5p{
        padding-right: 0.5rem;
    }
    .px-sm-5p{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .hide600{
        display:none;
    }
    .purple-buttons:before{
        display:none;
    }
    textarea {
        padding: 20px 50px !important;
        border-radius: 120px;
        resize: none !important;
    }
    .bottom-100{
        bottom:-30px;
    }
} 